## DATA TYPE

In [5]:
#String to Integer Conversion
int("123")

123

In [2]:
#Float to Integer Conversion
int(12.3)

12

In [3]:
#String to float Conversion
float(123)

123.0

In [4]:
if 10 > 5:
    print("34 greater than 9")
    print("IF scope finished")
    print("Program ended")

34 greater than 9
IF scope finished
Program ended

In [6]:
num = 15
if num > 5:
    print("Bigger than 5")
    if num <= 45:
        print("Between 5 and 45")

Bigger than 5
Between 5 and 45

In [7]:
x = 4
if x == 5:
    print("Its 5")
else:
    print("Its not 5")

Its not 5

## Conditional Statement

In [21]:
num = 7
if num == 5:
    print("Number is 5")
else:
    if num == 11:
       print("Number is 11")
    else:
        if num == 7:
            print("Number is 7")
        else:
            print("Number isn't 5, 11 or 7")

print("**************")

def getgrade(marks):
    
    if(marks>=80):
        return "A+"
    elif(marks>=70 and marks <=79):
        return "A"
    elif(marks>=60 and marks <=69):
        return "B"
    elif(marks>=50 and marks <=59):
        return "C"
    elif(marks>=40 and marks <=49):
        return "D"
    else:
        return "Fail"
print(getgrade(50))

Number is 7
**************
C

## loop

In [9]:
i = 1
while i <= 10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [10]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [11]:
for x in "banana":
    print(x)

b
a
n
a
n
a

## list

In [17]:
thislist =["apple","banana","cherry"]
print(thislist)

print("***********")

listofcgpa =[3.5,4.7,3.9]
print(listofcgpa[1])


print("***********")

print(len(listofcgpa))

print("***********")

thislist.remove("banana")
print(thislist)

['apple', 'banana', 'cherry']
***********
4.7
***********
3
***********
['apple', 'cherry']

## Function

In [22]:
def my_function():
    print("Hello suvo")
    
my_function()

Hello suvo

In [23]:
def makedouble(x):
    return 2*x;
print(makedouble(16))

32

In [24]:
#number = 1
#while number<15:
#print (number)
#number+=1

#for x in range(5):
#print(x)

for x in range(1,10,3):
    print(x)

1
4
7